/*header area*/
.header-video, .header-logo {
    position: relative;
    overflow: hidden;
    height: auto;
    width: 35vw;
    min-width: 385px;
    min-height: 95px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*social media icons*/
.social-icons {
  
   margin: 5px, 5px, 5px, 5px;
}

/*Bootstrap override for navbar*/
.custom-navbar {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
   
}
.nav-link {
    font-size: 1.5vw;
    margin-right: 1rem;
    padding:4px;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.nav-link:hover {
    color: rgb(0, 151, 178);
    border-color: rgb(0, 151, 178);
    border: solid;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
}

.nav-link:active{
    color: white;
    background-color: rgb(0, 151, 178);
    border: solid;
    border-color: rgb(0, 151, 178);
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
}

@media (max-width: 992px) {
    /*Hamburger Menu*/
    .navbar-nav .hb-nav-link{
        font-size: 1.25rem;
        max-width: 400px;
        border-color: rgb(0, 151, 178);
        color: rgb(0, 151, 178);
        border: solid;
        border-radius: 30px;
        margin-bottom: 10px;
    }
    .hb-nav-link:active{
        color: white;
        background-color: rgb(0, 151, 178);
        border-color: rgb(0, 151, 178);
        border: solid;
        border-radius: 30px;
        box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
    }
    .hb-nav-link:hover{
        color: white;
        background-color: rgb(0, 151, 178);
        border-color: rgb(0, 151, 178);
        border: solid;
        border-radius: 30px;
        box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
    }
    .navbar-nav{
        text-align: center;
        padding:10px
    }
    .navbar-collapse {
        position: absolute;
        top: 100%; 
        right: 0; 
        width: 400px; 
        background-color: rgba(255, 255, 255, .5);
        }

        .social-items-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: auto;
            padding: 10px;
        }
}

/*large Icon for smaller screen and centered hamburger*/
@media (max-width: 576px){
    .header-video, .header-logo {
        width: 100%;
        max-width: 100%;
    }
    .navbar-collapse{
        justify-content: center;
        width: 100%;
    }
    .navbar-toggler{
        margin:auto
    }
    .navbar-nav .hb-nav-link{
        max-width: 80%;
        width: 80%;
        margin:auto;
    text-align: center;
    }
}


.navbar-toggler {
    border-color: rgb(0, 151, 178)
    
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgb(0, 151, 178)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); 
    width: 30px;
    height: 30px;
}

/* Body Area*/

.bg-image-index{
    background-image: url(./images/homepage-background.svg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.shield{
    background-color: rgba(255, 255, 255, 0.8);   
}

.shield-blue{
    background-color: rgba(0, 151, 178, .8); 
}

.hero-container-1 {
    height: 250px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 75px;
    }

.hero-container-1.expanded {
    height:425px
}

  .hero-container-2 {
    height: 150px;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 50px;
  }

  .hero-container-3 {
    height: 200px;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-left: 50px;
    flex-wrap: wrap;

  }
  
  .hero-title-1 {
    font-weight: 300;
    font-size: calc(3rem + 1.5vw);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  .hero-title-2 {
    font-weight: 600;
    font-size: calc(3rem + 1.5vw);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: rgb(255,145,77)
  }

  .hero-title-3 {
    font-weight: 300;
    font-size: calc(2rem + 1.5vw);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }

.btn-contact {
    font-size: 3rem;
    letter-spacing: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255,222,89,.8);
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 151, 178);
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
    min-width: 292px;
}
.btn-contact:hover{
    border:solid;
    border-color: rgb(0, 151, 178);
    border-width: 5px;
}
  
  #form-toggler {
    position: absolute;
    left: -9999px;}
  
  #form-toggler:checked ~ .contact-form {
    display: inline-block;
    position: fixed; 
    bottom: calc(2rem + 100px);
    left: 2rem;
     background-color: white;
  }

  .modal-content{
    border:solid;
    border-color: rgb(0, 151, 178);
    border-width: 5px;
  }

  .modal-title{
    color: rgb(0, 151, 178)
  }

  .btn-submit{
    font-size: 1.5vw;
    padding: 50px, 2px, 8px, 2px;
    border-radius: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    border: solid;
    border-color: rgb(0, 151, 178);
    color: rgb(0, 151, 178);
  }
  .btn-submit:hover{
    background-color:rgb(0, 151, 178);
    color: white;
    border: solid;
    border-color: rgb(0, 151, 178);
  }

  
  

  @media (max-width: 1080px){
    .hero-container-1, .hero-container-2, .hero-container-3{
        width: 100%;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    .hero-container-1{
        margin-bottom: 100px;
        margin-top: 75px
    }
    .hero-title-1, .hero-title-2{
        font-size: calc(2.5rem + 2vw)
    }
    .btn-contact{
        margin: 25px;
    }
  }

  @media (max-width: 576px){
    .hero-container-1{
        height: 200px;
    }
    .hero-title-1, .hero-title-2{
        font-size: calc(2rem + 2vw);
    }
    .hero-container-1{
        margin-bottom: 75px;
    }
  }
  @media (max-width: 720px){
    .hero-container-3{
        margin-bottom: 40px;
    }
  }

  .tagline{
    font-size: calc(1rem + 1vw);
    text-align: center;
    max-width: 90%;
  }
  


