/*header area*/
.header-video, .header-logo {
    position: relative;
    overflow: hidden;
    height: auto;
    width: 35vw;
    min-width: 385px;
    min-height: 95px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*social media icons*/
.social-icons {
  
   margin: 5px, 5px, 5px, 5px;
}

/*Bootstrap override for navbar*/
.custom-navbar {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
   
}
.nav-link {
    font-size: 1.5vw;
    margin-right: 1rem;
    padding:4px;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.nav-link:hover {
    color: rgb(0, 151, 178);
    border-color: rgb(0, 151, 178);
    border: solid;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
}

.nav-link:active{
    color: white;
    background-color: rgb(0, 151, 178);
    border: solid;
    border-color: rgb(0, 151, 178);
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
}

@media (max-width: 992px) {
    /*Hamburger Menu*/
    .navbar-nav .hb-nav-link{
        font-size: 1.25rem;
        max-width: 400px;
        border-color: rgb(0, 151, 178);
        color: rgb(0, 151, 178);
        border: solid;
        border-radius: 30px;
        margin-bottom: 10px;
    }
    .hb-nav-link:active{
        color: white;
        background-color: rgb(0, 151, 178);
        border-color: rgb(0, 151, 178);
        border: solid;
        border-radius: 30px;
        box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
    }
    .hb-nav-link:hover{
        color: white;
        background-color: rgb(0, 151, 178);
        border-color: rgb(0, 151, 178);
        border: solid;
        border-radius: 30px;
        box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
    }
    .navbar-nav{
        text-align: center;
        padding:10px
    }
    .navbar-collapse {
        position: absolute;
        top: 100%; 
        right: 0; 
        width: 400px; 
        background-color: rgba(255, 255, 255, .5);
        }

        .social-items-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: auto;
            padding: 10px;
        }
}

/*large Icon for smaller screen and centered hamburger*/
@media (max-width: 576px){
    .header-video, .header-logo {
        width: 100%;
        max-width: 100%;
    }
    .navbar-collapse{
        justify-content: center;
        width: 100%;
    }
    .navbar-toggler{
        margin:auto
    }
    .navbar-nav .hb-nav-link{
        max-width: 80%;
        width: 80%;
        margin:auto;
    text-align: center;
    }
}


.navbar-toggler {
    border-color: rgb(0, 151, 178)
    
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgb(0, 151, 178)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); 
    width: 30px;
    height: 30px;
}

/* Body Area*/

.bg-image{
    background-image: url(./images/homepage-background.svg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.bg-image-mountain{
    background-image: url(./images/mountain.jpeg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.shield{
    background-color: rgba(255, 255, 255, 0.8);   
}

.shield-mnt{
    background-color: rgba(255, 255, 255, 0.5);   
}

.shield-blue{
    background-color: rgba(0, 151, 178, .8); 
}

.shield-darker{
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 10px;
}

.hero-container-1 {
    height: 250px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-left: 50px;
    margin-top: 80px;
    }

.hero-container-1.expanded {
    height:425px
}

  .hero-container-2 {
    height: 150px;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-top: 75px;
  }

  .hero-container-3 {
    height: 200px;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-left: 50px;
    flex-wrap: wrap;

  }
  
  .hero-title-1 {
    font-weight: 300;
    font-size: calc(3rem + 1.5vw);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  .hero-title-2 {
    font-weight: 600;
    font-size: calc(3rem + 1.5vw);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: rgb(255,145,77)
  }

  .hero-title-3 {
    font-weight: 300;
    font-size: calc(2rem + 1.5vw);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }

.btn-contact {
    font-size: 3rem;
    letter-spacing: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255,222,89,.8);
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 151, 178);
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
    min-width: 292px;
}
.btn-contact:hover{
    border:solid;
    border-color: rgb(0, 151, 178);
    border-width: 5px;
}
  
  #form-toggler {
    position: absolute;
    left: -9999px;}
  
  #form-toggler:checked ~ .contact-form {
    display: inline-block;
    position: fixed; 
    bottom: calc(2rem + 100px);
    left: 2rem;
     background-color: white;
  }

  .modal-content{
    border:solid;
    border-color: rgb(0, 151, 178);
    border-width: 5px;
  }

  .modal-title{
    color: rgb(0, 151, 178)
  }

  .btn-submit{
    font-size: 1.5vw;
    padding: 8px, 2px, 8px, 2px;
    border-radius: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    border: solid;
    border-color: rgb(0, 151, 178);
    color: rgb(0, 151, 178);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }
  .btn-submit:hover{
    background-color:rgb(0, 151, 178);
    color: white;
    border: solid;
    border-color: rgb(0, 151, 178);
  }

  
  

  @media (max-width: 1080px){
    .hero-container-1, .hero-container-2, .hero-container-3{
        width: 100%;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    .hero-container-1{
        margin-bottom: 100px;
        margin-top: 75px
    }
    .hero-title-1, .hero-title-2{
        font-size: calc(2.5rem + 2vw)
    }
    .btn-contact{
        margin: 25px;
    }
  }

  @media (max-width: 576px){
    .hero-container-1{
        height: 200px;
    }
    .hero-title-1, .hero-title-2{
        font-size: calc(2rem + 2vw);
    }
    .hero-container-1{
        margin-bottom: 75px;
    }
  }
  @media (max-width: 720px){
    .hero-container-3{
        margin-bottom: 40px;
    }
  }

  .tagline{
    font-size: calc(1rem + 1vw);
    text-align: center;
    max-width: 90%;
  }

  .service-container{
    padding-top: 75px;
    padding-bottom: 10px
   
  }

  .service-img{
    max-width: 356px;
    height:auto;
    border: solid;
    border-color: rgba(255,222,89,.3);
    border-width: 8px;
    opacity: 95%;
    border-radius: 25%;
    box-shadow: 20px rgba(255,222,89,.5);
  }

  @media (max-width: 768px){
    .service-img{
    max-width: 450px;}
  }

  .section-title{
    color:rgb(255,145,77);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: calc(1.7rem + 1.5vw);
    margin-bottom: 20px;
  }
  .colunm-heading{
    margin-bottom: 15px;
  }

  .btn-info{
    font-size: 1.5rem;
    padding: 8px, 2px, 8px, 2px;
    border-radius: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    border: solid;
    border-color: rgb(255,145,77);
    color: rgb(255,145,77);
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    margin-top: 15px;
    min-width: 115;
    margin-bottom: 50px;
  }
  .btn-info:hover{
    background-color:rgb(255,145,77);
    color: white;
    border: solid;
    border-color: rgb(255,145,77);
}

.header-container {
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-left: 50px;
    margin-top: 80px;
    }

.header-container.expanded {
    height:400px
}

.header-container-short {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-left: 50px;
    margin-top:80px;
    }

.or-heading{
    color: rgb(255,145,77);
    font-weight: 300;
    font-size: calc(2rem + 1.5vw);
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.para-container{
    display: block;
    margin: 30px 15px 0px 200px;
}
@media (max-width:740px){
    .para-container{
        max-width: 90%;
        margin: 30px auto 0px auto
    }
}

.para-text{
    font-size:calc(1rem + 1vw);
}

.image-container{
    text-align: center;
    margin: 10px auto 0 auto
}

@media (max-width:1200px){
    .image-container{
        margin-top: 30px;
    }
}

.image-container-tall{
    text-align: center;
    margin: 30px auto 0 auto
}

.image-heading{
    color: rgb(0, 151, 178);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: calc(1.5rem + 1vw);
    
}

.about-img{
    max-width: 500px;
    height: auto;
    border: solid;
    border-width: 8px;
    border-radius: 25%;
    border-color: rgba(0, 151, 178, .5);
    box-shadow: 20px rgba(0, 151, 178 .2);
    margin: 20px 0 20px 0
}

@media (max-width:580px){
    .about-img{
        width: 90%;
    }
    .bottom-call{
        justify-content: center;
        text-align:center;
        margin: 30px auto 20px auto
    }
    .para-container{
        justify-content: center;
        text-align: center;
    }
    .header-container{
        height:200px
    }
    .or-heading{
        text-align:center
    }
}

.bio{
    max-width: 90%;
    margin: 15px auto 0 auto;
    font-size: calc(1rem + .6vw)
}

.bottom-tag-container{
    max-width:96%;
    margin: 50px auto 0 auto
}
.bottom-call{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-top: 30px;
    font-weight: 300;
    font-size: calc(2rem + 1.5vw);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color:rgb(255,222,89)
  }

  .contact-btn {
    font-size: calc(1rem + .6vw);
    margin-right: 1rem;
    padding:4px 12px 4px 12px;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    text-decoration: none;
    color:rgb(0, 151, 178);
}

.contact-btn:visited {
    font-size: calc(1rem + .6vw);
    margin-right: 1rem;
    padding:4px 12px 4px 12px;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    text-decoration: none;
    color:rgb(0, 151, 178);
}

.contact-btn:hover {
    color: rgb(0, 151, 178);
    border-color: rgb(0, 151, 178);
    border: solid;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
}

.contact-btn:active{
    color: white;
    background-color: rgb(0, 151, 178);
    border: solid;
    border-color: rgb(0, 151, 178);
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
}

.form-container{
    width:50%;
    margin: 80px auto 50px auto;
}

.carousel{
    width:80%;
    margin:60px auto 0px auto;
}

.carousel-container{
    padding-bottom: 100px;
}

.carousel-caption {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

h5{
    color:white;
    font-weight: 600;
    font-size: 4vw;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.img-carousel{
    background-color: black;
    opacity: 90%;
}
  
.blog-btn {
    font-size: 2.25vw;
    margin-right: 1rem;
    padding:4px 12px 4px 12px;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    text-decoration: none;
    color:black;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
    border-radius: 30px;
}

.blog-btn:hover {
    color: black;
    border-color: black;
    border: solid;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0 ,0 ,0, 0.2);
    background-color: white;
}

.blog-image-container {
    width: 70%;
    margin:0px auto 0px auto;
    padding-top:250px;
    
    }

.blog-image-container.expanded {
    padding-top: 400px
}

.img-blog{
    width:100%;
    height: auto;
    border-radius: 30px;
    opacity: 95%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.contact-blog {
    text-decoration: none;
    color:rgb(0, 151, 178);
    
}

.contact-blog:hover {
    color: rgb(0, 151, 178);
   text-decoration: underline;
}
.contact-blog:visited{
    text-decoration: none;
    color:rgb(0, 151, 178);
}

.blog-list{
    list-style-type: none;
}

.blog-subheading{
    color: rgb(0, 151, 178);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: calc(1.5rem + 1vw);
    max-width: 90%;
    margin: 15px auto 0 auto;
    
}




